body {
    background-color: #e8e8e8;
}

.keep-app {
    width: 100%vw;
    height: 100%vh;
    margin: auto;
}

.keep-app h2 {
    text-align: center;
}

.keeps-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

.create-keep {
    background-color: #fff;
    padding: 10px 0;
    /* display: inline-block; */
    margin: 0 auto 2em;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    height: 20px;
}

.create-keep input:focus {
    outline: none !important;
}

.create-keep input {
    border: none;
    padding: 0px 10px;
    width: 100%;
    max-width: 100%;
}

.keep-type-icons {
    padding-right: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: lightslategray;
}

.keep-type-icons:hover {
    color: black;
}

.keep-note {
    background-color: orange;
    padding: 10px 10px 0px 10px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.keep-note:hover {
    transform: scale(1.01);
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0, 0, 0, 0.30);
}

.keep-note-menue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333;
    padding: 7px;
}

