.app-header {
    background-color: #1a1406;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
 }

 .app-header nav {
     margin-right: 10px;
     margin-bottom: 5px;
 }

.app-header h1 {
    font-size: 1.5em;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.app-header ul {
    list-style: none;
    display: flex;
    margin-right: 1px;
    
}

.app-header .active {
    color: orange;
    
    }

.app-header a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 23px;
}

.app-header li {
    display: inline-block;
    margin: .5em;
    flex-direction: row;
    justify-content: space-between;
}

.app-header .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    
    
}

.app-header .search input {
    width: 100%;
    min-width: 0;
    padding: 10px 10px 10px 50px;
    height: 40px;
    font-size: 1em;
    text-align: left;
    
    
}
.app-header .search input:focus {
    outline: none !important;
}

.app-header .search-filter {
    height: 40px;

}



    